body {
  margin: 0;
  font-family: "Chivo", sans-serif;
  background-color: #292440;
}

code {
  font-family: "Chivo", sans-serif;
}

::-moz-selection {
  background-color: #292440;
  color: #e8e3f1;
}

::selection {
  background-color: #292440;
  color: #e8e3f1;
}
