body {
  margin: 0;
  font-family: "Chivo", sans-serif;
  background-color: #292440;
}

code {
  font-family: "Chivo", sans-serif;
}

::-moz-selection {
  background-color: #292440;
  color: #e8e3f1;
}

::selection {
  background-color: #292440;
  color: #e8e3f1;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px #292440;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px #6b59be;
}
